@import "../../app.scss";

.services {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .textContainer {
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;

        p {
            font-weight: 200px;
            font-size: 20px;
            color: gray;
            text-align: right;
            @include mobile {
                font-size: 15px;
            }
        }

        hr {
            width: 500px;
            border: none;
            border-top: 0.5px solid gray;
            @include mobile {
                max-width: 300px;
            }
        }
    }

    .titleContainer {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        .title {
            display: flex;
            align-items: center;
           

            img {
                width: 300px;
                height: 110px;
                border-radius: 50px;
                object-fit: cover;
                @include mobile {
                    width: 150px;
                    height: 50px;

                }
            }

            h1 {
                font-size: 96px;
                font-weight: 100;
                @include mobile {
                    font-size: 30px;
                    padding: 20px;
                }
            }

            


        }



    }

    .listContainer {

        flex: 2;
        display: flex;
        max-width: 1366px;
        margin: auto;
        margin-bottom: 70px;
        @include mobile {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .box {
            padding: 50px;
            border: 0.5px solid gray;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include mobile {
                border: none;
                padding: 30px;
            }


            button {
                padding: 15px;
                margin-bottom: 15px;
                background-color: orange;
                border: none;
                border-radius: 30%;
                font-size: 20px;
                @include mobile {
                    width: 200px;
                    height: 30px;
                    padding: 5px;
                    align-self: center;

                }
                
            }
            h2{
                @include mobile {
                    text-align: center;
                }
            }

            p{
                @include mobile {
                    display: none;
                }
            }
            

        }

        
    }





}